body {
  background-color: lightslategray !important;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: lightskyblue;
}

.header {
  height: 8vh;
  background-color: midnightblue;
  padding: 1rem;
}

.main-area {
  height: 92vh;
  margin: 0 !important;
}

.dashboard {
  border-right: solid 1px midnightblue;
  padding: 1rem;
}

.battlefield {
  padding: 1rem;
}

.shipbox {
  margin: 2rem;
  border: solid 1px midnightblue;
  position: relative;
  height: 80vh;
}